<div class="main-container">
  <div class="navigation">
    <div id="sidebarOpen" class="sidebar">
      <a href="javascript:void(0)" class="closeSidebar" onclick="closeNav()"
        >&times;</a
      >
      <a href="/moneyclicker">MoneyClicker</a>
      <a href="/blackjack">Blackjack</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
      <!-- Make it so the logout only apears if the person in signed in!! -->
    </div>

    <div id="sidebarClose">
      <button class="openSidebar" onclick="openNav()">&#9776;</button>
    </div>
  </div>
</div>
<div class="balance-bet">
  <p id="balance">Balance: $0</p>
</div>

<div class="main-game">
  <img src="/pictures/moneyclick.png" alt="a money bill" id="moneyclickerBtn" />
</div>
