<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
    <div class="register">
        <p>Sign Up</p>
        <form action="/signup" method="post" id="signup-form-signup" onsubmit="validateSignupForm()">
            <input type="text" id="username" name="username" required placeholder="Username">
            <span id="username-error" class="signup-form-error"></span>
            <br>
            <input type="text" id="email" name="email" required placeholder="Email">
            <span id="email-error" class="signup-form-error"></span>
            <br>
            <input type="password" id="password" name="password" required placeholder="Password">
            <span id="password-error" class="signup-form-error"></span>
            <br>
            <button id="submit-btn" type="submit" disabled opacity="0.4">Sign Up</button>
        </form>
        <p class="form_account">Already have an account? <a href="/login">Login</a></p>
    </div>
    <script src="/signup.js"></script>
    <script src="/script.js"></script>
</body>

</html>